/*first section*/
.first-section h1{
    margin-bottom: 3rem;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: .9em;
      margin-top: .2em;
  }
  .first-section{
     /* background-color: #f7b42c;
      background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);*/
      /*color:white;*/
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
  .first-section a{
      /*color: #fff !important;*/
  }
  
  .first-section, .buttons, .links{
    padding-top: 1rem;
  }
  .first-section .buttons .btn{
      border-radius: 1.5rem !important;
  }
  
  /*second section */
  .second-section{
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-image: url('../img/Backgrounds/bg8.svg');
      background-size: cover;
      background-position: center;
  }
  .second-section h3{
      margin-bottom: 3rem;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      margin-bottom: .9em;
      margin-top: .2em;
  }
  
  /*third section*/
  .third-section h3{
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      /*color: #ee350f;*/
      margin-bottom: .9em;
      margin-top: .2em;
  }
  
   /*fourth section */
   .fourth-section .footer-links a{
      display: block;
      margin-bottom: 0.5rem;
      color: #343a40!important;
   }
  
  .fourth-section .footer-links a:first-child{
      font-weight: 600;
      font-size: 18px;
   }


.mean-fruit {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}